<template name="anualCentroCosto">
	 <div  class='col-md-8'>
	 	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	 	 <div class="form-inline" style="float:right;">
		   <input class="form-control" id="anoSeleccion" type="number" value="{{anoSeleccion}}" style="width:80px;" placeholder="Año">
		  
		      <button  id="buscarGral" style="" type="submit" class="btn btn-primary">  <span  class="glyphicon glyphicon-search" aria-hidden="true"></span></button> 
		     </div>
		  <h1><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> INFORME <b>ANUAL POR CENTRO COSTO</b> <small> </small></h1>
		     
		     <div style="height: 400px" id="chart_div"></div>
 </div>
</template>